.header {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;

    .logo {
        width: 60px;
        padding-right: 25px;
    }

    .logo-text {
        font-size: 110%;
        font-weight: bold;
    }
  
    .logo-container {
      height: 100%;
      width: auto;
      display: flex;
      align-items: center;
    }
  
    .options {
      width: 50%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
  
      .option {
        padding: 10px 15px;
        cursor: pointer;
      }
    }
  }
  